:host {
    display: block;
    background: white;
    border-radius: 15px;
}
input {
    padding-top: 6px !important;
    /*padding-left: -6px !important;*/
    line-height: 26px;
    text-align: center !important;
    font-size: 15px;
    border-radius: 15px;
    border: 1px solid rgb(33, 40, 51);
}
input:focus {
    outline: none;
}
