.bd-da:hover {
    background: #e52d27; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #b31217, #e52d27); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #b31217, #e52d27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white
}

.bd-da {
    box-shadow: none !important;
}