<div class="row">
    <div style="display: grid; grid-template: 1fr 1fr / 1fr" class="container">
        <div style="grid-area: 1 / 1;" class="text">
            <h2>Make transaction</h2>
        </div>
        <div class="close">
            <button class="btn btn-default btn-just-icon">
                <fa name="close" size="sm"></fa>
            </button>
        </div>
    </div>
    <div style="display: grid; grid-template: 1fr 1fr 1fr 1fr / 1fr 4fr" class="container">
        <div class="fromText" style="grid-area: 1 / 1 / 1 / 1">
            <h3>From</h3>
        </div>
        <div class="fromInfo" style="grid-area: 2 / 2 / 1 / 4">
            <h3>From info</h3>
        </div>

    </div>
</div>
