#copyButton {
    font-size: 14px !important;
}

#editButton {
    font-weight: bold;
    white-space: nowrap;
    color: #434343;
    font-size: 15px !important;
    margin-top: 0.3em
}

#editButton:hover {
    /*font-size: 18px !important;*/
    text-underline: rgb(239, 184, 11) !important;
}

#addressButton {
    font-weight: bold;
    margin-top: -2.5em;
    color: grey;
    font-size: 12px !important;
}

#addressButton:hover {
    text-underline: rgb(239, 184, 11) !important;
    /*font-size: 14px !important;*/
}

#addressButton:active {
    font-size: 12px !important;
}

#cog {
    transition: all 1800ms ease-in-out;
    color: rgb(132, 142, 156);;
    margin-right: -0.5em;
}

#cog:hover {
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

.tooltip-wrapper {
    padding: 4px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    font-weight: bold;
    border-radius: 2px;
    margin: 2px;
    margin-top: 7px !important;
    font-size: 12px;
    width: 150px !important;
    text-align: center;
    z-index: 9999;
}

button#addressButton.btn.btn-sm.btn-link.hover-anchor {

}

.menu-wrapper {
    margin-top: 1px;
    border: none;
    background: none;
    max-width: 300px !important;
    line-height: 1 !important;
    width: 155px !important;
}

.menu-wrapper:focus {
    outline: none;
}

.menu-item:first-child {
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
}

.menu-item:last-child {
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}

.menu-item {
    background: linear-gradient(90deg, rgb(239, 184, 11) 0%, rgb(251, 218, 60) 100%) !important;
    border-bottom: 1.47px solid rgb(240, 185, 11) !important;
    border-top: none;
    border-left: 1.47px solid rgb(240, 185, 11) !important;
    border-right: 1.47px solid rgb(240, 185, 11) !important;
    display: block;
    padding: 5px;
    width: 100%;
    font-size: .6875rem;
    font-weight: bold;
    color: white;
}

.menu-item:focus {
    background: rgb(132, 142, 156);
    color: white;
}
