<div class="container">
  <div style="background: #eaeaea" class="row text-center">
    <div class="col"></div>
    <div class="col"><h5 style="font-weight: bold; white-space: nowrap; color: #434343">First account</h5>
      <p style="font-weight: bold; margin-top: -1.5em; color: grey;  font-size: 14px">{{this.address}}</p>
    </div>
    <div align="right" class="col">
      <button  data-toggle="popover" title="Popover Header" data-content="Some content inside the popover" class="btn btn-link btn-just-icon btn-lg" style="color: #434343; margin-right: -0.5em" href="/main"><fa style="font-size: 23px" name="cog" size="lg"></fa> </button>
    </div>
  </div>
  
  <div class="row text-center">
    <div class="col-12">
      <img style="margin-top: 2em" width="48" src="../../assets/icons/icon128.png">
      <h3 style="font-weight: bold;">0.01235 BNB</h3>
      <h4 style="font-weight: bold; margin-top: -1em;margin-bottom: 0px; color: grey">15 $</h4>
      <a style="font-weight: bold; color: grey; margin-top: 0em; text-decoration: underline; font-size: 13px">More
        balances</a>
    </div>
  </div>
</div>
