#copyButton {
    font-size: 14px !important;
}

#editButton {
    font-weight: bold;
    white-space: nowrap;
    color: #434343;
    font-size: 15px !important;
    margin-top: 0.3em
}

#editButton:hover {
    font-size: 17px !important;
}

#addressButton {
    font-weight: bold;
    margin-top: -2.5em;
    color: grey;
    font-size: 12px !important;
}

#addressButton:hover {
    font-size: 14px !important;
}

#cog {
    transition: all 1800ms ease-in-out;
    color: #434343;
    margin-right: -0.5em;
}

#cog:hover {
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}