<form style="margin-top: 1.8em; margin-bottom: -0.4em;" [formGroup]="heroForm" novalidate>
    <div class="form-row">
        <div class="form-group col-md-12">
            <ng-select [searchable]="true" [clearable]="false" labelForId="heroId" class="custom"
                       formControlName="heroId" class="someClass someClass1" (change)="this.chosenCurrency = this.heroForm.getRawValue().heroId;">
                <ng-option value="BNB">
                    <div style="display: flex;flex-direction: row; align-items: center">
                        <img style="height: 28px" src="../../../../../../assets/icons/icon128.png"/>
                        <div style="display: flex;flex-direction: column; padding: 5px 10px;">
                            <strong style="margin-bottom: -5px; margin-top: 3px; font-size: 16px">Binance Coin</strong>
                            <div style="font-size: 12px">{{(bnb$ | async) | fmtPipe : 'BNB'}}</div>
                             <!--{{(fiat$ | async) || 'pending'}}-->
                        </div>
                    </div>
                </ng-option>
                <!--<ng-option value="BEC">-->
                    <!--<div style="display: flex;flex-direction: row; align-items: center">-->
                        <!--<img style="height: 28px" src="../../assets/icons/default.png"/>-->
                        <!--<div style="display: flex;flex-direction: column; padding: 5px 10px;">-->
                            <!--<strong style="margin-bottom: -5px; margin-top: 3px; font-size: 16px">BEC Coin</strong>-->
                            <!--<div style="font-size: 12px">1 BEC / $14499 USD</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</ng-option>-->
                <!--<ng-option value="BTC">-->
                    <!--<div style="display: flex;flex-direction: row; align-items: center">-->
                        <!--<img style="height: 28px" src="../../assets/icons/default.png"/>-->
                        <!--<div style="display: flex;flex-direction: column; padding: 5px 10px;">-->
                            <!--<strong style="margin-bottom: -5px;margin-top: 3px; font-size: 16px">Bitcoin</strong>-->
                            <!--<div style="font-size: 12px">1 BTC / $14400 USD</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</ng-option>-->
            </ng-select>
        </div>
    </div>
</form>
