<div class="mb-0">
    <div class="form-row">
        <div class="col-md-12 send-input" style="height:100%">
            <ng-select #coinSelect [searchable]="false" [clearable]="false" [(ngModel)]="selectedToken"
                       (change)="onCoinChange($event.value)"
                       labelForId="heroId" class="custom send-input">

                <ng-template ng-header-tmp>
                    <input style="width: 100%; line-height: 14px; height: 24px !important;"
                           (input)="coinSelect.filter($event.target.value)"
                           placeholder="Search for tokens"
                           type="text"/>
                </ng-template>

                <ng-option *ngFor="let token of (tokens$ | async)" value="{{token.symbol}}">
                    <div class="coins-select-option">
                        <img class="coins-select-option-img"
                             src="{{token.image || '../../../../../../assets/icons/default.png'}}"
                             alt="{{token.mappedName}}"/>

                        <div class="coins-select-option-info">
                            <span class="coins-select-option-title">{{token.mappedName}}</span>
                            <div class="coins-select-option-sum">{{token.balance}} {{token.symbol}}</div>
                        </div>
                    </div>
                </ng-option>
                
            </ng-select>

        </div>
    </div>
</div>

<!--<p>{{tokens$ | async | json}}</p>-->
