<div class="wrap text-center send-amount-row">
    <mat-form-field class="example-full-width form-group send-field">
        <div class="amount-field-grid">

            <div class="amount-field-input">
                <input class="form-control" type="number" [(ngModel)]="baseAmount"
                       (input)="userInput$.next($event.target.value)"
                       autocomplete="off" min="0" matInput value=0>
            </div>

            <div class="overflow-ellipsis amount-field-currency-main">
                {{baseSymbol || 'BNB'}}
            </div>

            <div class="amount-field-secondary-sum overflow-ellipsis"
                 [ngStyle]="{'color: gray': rate2usd}">
                {{calculatedSum === null ? 'N/A' : calculatedSum}}
            </div>

            <div class="amount-field-currency-second" style="color: gray">
                {{secondarySymbol || '' }}
            </div>

            <div class="amount-field-switch" [ngStyle]="{'color: gray': rate2usd}"
                 (click)="rate2usd ? this.doSwap$.next(!this.doSwap$.value) : {} ">
                <i class="fa fa-exchange fa-rotate-90"></i>
            </div>
        </div>
    </mat-form-field>
</div>
