.inp {
    border-color: #b3b3b3 #ccc #d9d9d9;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.send-amount-row {
    border: 1px solid #cbcbcb;
    border-radius: 4px;
    height: 55px;
}

.amount-field-grid {
    display: grid;
    height: 55px;
    grid-template: 1fr 1fr / 120px 60px 20px;
    grid-column-gap: 0;
    width: 100%;
}

.amount-field-input {
    grid-column: 1;
    grid-row: 1;
    height: 27px;
}

.amount-field-input > input {
    font-weight: bolder;
    font-size: 16px;
    height: 27px;
    margin-top: 0.35em;
    width: 120px;
}

.amount-field-currency-main {
    grid-column: 2;
    grid-row: 1;
    margin-top: 0.5em;
    font-weight: bolder;
    font-size: 13px;
}

.amount-field-secondary-sum {
    grid-column: 1;
    grid-row: 2;
    font-size: 12px;
    line-height: 1.5em;
}

.amount-field-currency-second {
    grid-column: 2;
    grid-row: 2;
    font-size: 12px;
    line-height: 1.5em;
}

.overflow-ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.amount-field-switch {
    grid-column: 3;
    grid-row: 1/span 2;
    line-height: 55px;
    text-align: right;
}

.amount-field-block {
    display: grid;
    height: 55px;
    grid-template: 1fr / 120px 60px 20px;
    grid-column-gap: 0;
    width: 100%;
}

.amount-field-block .amount-field-input {
    height: 55px;
}

.amount-field-block input {
    height: 55px;
    margin-top: 0;
}

.amount-field-block .amount-field-currency-main {
    height: 55px;
    margin: 0;
    line-height: 55px;
}
