<div class="container-fluid">
    <app-menu-top></app-menu-top>
    <div class="row">
        <div class="col-12 text-center mt-2 mb-4 ml-0">
            <button (click)="goBack()" class="btn btn-just-icon btn-back btn-round">
                <i class="fas fa-arrow-left"></i>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="row send-row">
                <div class="col-3">
                    <h5 class="text-left send-input-title">Asset:</h5>
                </div>
                <div class="col-9">
                    <app-coins-select></app-coins-select>
                </div>
            </div>
            <div class="row send-row">
                <div class="col-3">
                    <h5 class="text-left send-input-title">Amount:</h5>
                </div>
                <div class="col-9">
                    <app-amount-input></app-amount-input>
                </div>
            </div>
            <div class="row send-row">
                <div class="col-3">
                    <h5 class="text-left send-input-title">Address:</h5>
                </div>
                <div class="col-9">
                    <app-address-input></app-address-input>
                </div>
            </div>

            <div class="row send-row">
                <div class="col-3">
                    <h5 class="text-left send-input-title">Memo:</h5>
                </div>
                <div class="col-9">
                    <div class="wrap text-center send-input" style="border: none">
                        <div>
                            <input id="memoInput" style="padding-left:15px"
                                   autocomplete="off" class="form-control"
                                   placeholder="Optional memo"
                                   spellcheck="false">
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-12 text-center mt-1" id="buttonsDiv">
            <button routerLink="/main" class="btn btn-binance-outline btn-lg main-btn">Back</button>
            <button [disabled]="!isValidToNextPage"
                    routerLink="/verify_send" class="btn btn-binance-outline btn-lg main-btn">Next
            </button>
        </div>
    </div>
</div>
