<div class="container header">
    <div style="margin-top: 0px;padding-bottom: 0em; height: 67px" class="row">
        <div class="col-12 text-center">
            <button style="color: rgb(255,255,255); margin-top: 0.5em;" (click)="goBack()"
                    class="btn btn-just-icon btn-back btn-round">
                <fa name="arrow-left" size="sm"></fa>
            </button>
        </div>
    </div>

</div>
<div class="container">
    <div class="col-12 text-center mt-4">
        <h3 style="font-family: 'Montserrat', sans-serif !important;  font-size: 26px; font-weight: 600; color: rgb(33, 40, 51);margin-top: 1.5em;"
            class="card-title">Are you sure?</h3>
        <p style="font-weight: bolder; font-size: 16px; margin-top: -0.5em; color: rgb(72, 81, 93);">{{message}}</p>
    </div>
    <div id="buttonsDiv" class="col-12 text-center">
        <button (click)="goBack()" class="btn btn-binance btn-lg main-btn">BACK</button>
        <button (click)="action()" class="btn btn-binance-outline btn-lg main-btn">YES</button>
    </div>

</div>
