<button [satPopoverAnchor]="menuUsers" (click)="menuUsers.toggle()"
        class="btn btn-link btn-just-icon btn-lg" id="menuUsers" href="/main">
    <i class="fas fa-users fa-2x" style="margin-top: 0.9em; font-size: 21px"></i>
</button>
<sat-popover #menuUsers horizontalAlign="center" verticalAlign="center" hasBackdrop>
    <div class="menu-wrapper-users col-12">
        <div id="users-wrapper">
            <button (click)="menuUsers.close()" style="color: white!important; border: none!important;     margin-bottom: 0.6em;"
                    class="btn btn-sm btn-just-icon btn-round btn-binance-outline-two">
                <i class="fas fa-times"></i>
            </button>
            <div id="AccountsHeader">My Accounts</div>
            <button (click)="logout()" id="logOutBtn" class="btn btn-binance-outline btn-sm">
                Log out
            </button>
        </div>
        <hr class="pop-hr">
        <div id="scrollableUsers">
            <div class="item-of" *ngFor="let item of (accounts$ | async); let i = index;"
                 (click)="switchAccount(item);menuUsers.close()"
                 style="display: grid; grid-template-rows: 2fr 1fr; grid-template-columns: 1fr 2fr 1fr 1fr; height: 60px;">

                <div style="grid-row: 1/2; grid-column: 1; align-self: center; align-content: center; align-items: center; margin-left: 0.5em; margin-top: 0.2em">
                    <button class="btn btn-just-icon btn-round btn-binance-outline-two"> #{{(1 + i)}}</button>
                </div>

                <sat-popover #name openTransition="0ms ease-out" closeTransition="0ms ease-in"
                             hasBackdrop forceAlignment>
                    <app-edit-form [value]="item.name" (update)="renameAccount($event, i)"></app-edit-form>
                </sat-popover>

                <div style="grid-row: 1; grid-column: 2; color: whitesmoke; margin-left: -0.3em; font-weight: bolder !important; margin-top: 0.4em; font-size: 18px">
                    {{item.name}}
                </div>
                <div style="grid-row: 2; grid-column: 2; color: whitesmoke; font-weight: 400; font-size: 12px; margin-top: -1.8em;  margin-left: -0.4em">
                    {{item.shortAddress}}
                </div>

                <div [satPopoverAnchor]="name" (click)="name.open(); stopEvent($event)"
                     style="margin-top: -2.5em; margin-right: 0.3em; margin-bottom: 0.2em; grid-row: 2; grid-column: 4;">
                    <button class="btn-basic">
                        <i class="fas fa-edit"></i>
                        Edit
                    </button>
                </div>
            </div>
        </div>
        <div id="bottom-users">
            <hr class="pop-hr">
            <button class="menu-item-users" (click)="addAccount()">
                <i class="fas fa-plus"></i>
                Add Account
            </button>
            <button class="menu-item-users" (click)="importAccount()">
                <i class="fas fa-arrow-right"></i>
                Import Account
            </button>
        </div>
    </div>
</sat-popover>
