#cog {
    /*transition: all 1800ms ease-in-out;*/
    color: rgb(132, 142, 156);;
    margin-right: -0.5em;
}

#cog:hover {
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

#top-account-col {
    background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMTkxOXB4IiBoZWlnaHQ9IjE2OXB4IiB2aWV3Qm94PSIwIDAgMTkxOSAxNjkiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8IS0tIEdlbmVyYXRvcjogU2tldGNoIDUyLjYgKDY3NDkxKSAtIGh0dHA6Ly93d3cuYm9oZW1pYW5jb2RpbmcuY29tL3NrZXRjaCAtLT4KICAgIDx0aXRsZT7ot6/lvoQ8L3RpdGxlPgogICAgPGRlc2M+Q3JlYXRlZCB3aXRoIFNrZXRjaC48L2Rlc2M+CiAgICA8ZyBpZD0iYmxvY2tjaGFpbi0t6YCC6YWNIiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIiBmaWxsLW9wYWNpdHk9IjAuNiIgc3Ryb2tlLW9wYWNpdHk9IjAuOCI+CiAgICAgICAgPGcgaWQ9IndlYi1tYXgtd2lkdGgtYWRkZWQtbGluay10by1ERVgiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0xLjAwMDAwMCwgLTc1LjAwMDAwMCkiIGZpbGw9IiMxMjE2MUMiIGZpbGwtcnVsZT0ibm9uemVybyIgc3Ryb2tlPSIjMTIxNjFDIj4KICAgICAgICAgICAgPGcgaWQ9Iui3r+W+hCI+CiAgICAgICAgICAgICAgICA8cGF0aCBkPSJNNTEuMjE3NzY0MywyMDYuMzgzMzMzIEM2Ni4xOTQ3MzIzLDIwNi4zODMzMzMgNzQuMTI5ODAwMSwyMzIuNjA4ODQ0IDEwMS43ODMxNzEsMjMxLjkzNTY4IEMxMjkuNDM2NTQxLDIzMS4yNjI1MTUgMTM3LjAxNTgwNiwyMTYuNDU0MTkxIDE2Ni4zNzYzMzYsMjE2Ljk3NzQ1NSBDMTk1LjczNjg2NiwyMTcuNTAwNzE5IDIxMy40ODYwNjgsMjMzLjgzMzMzMyAyMjcuMDU0NzY1LDIzMy44MzMzMzMgQzI0MC42MjM0NjIsMjMzLjgzMzMzMyAyNjEuNzcyOTg3LDIyMi41MjQ2MzggMjc1LjAxMDI5NywyMjIuNjUgQzI4OC4yNDc2MDcsMjIyLjc3NTM2MiAzMTAuMjQyOTMzLDIyOC42NzY1ODEgMzI5LjgzMjgwNCwyMzAuNzgzMzMzIEMzNDkuNDIyNjc0LDIzMi44OTAwODUgMzc3Ljc3MjE1MiwyMzkuODk5MzA1IDQwMi4yMzkyNiwxOTAuMTE2NjY3IEM0MjYuNzA2MzY5LDE0MC4zMzQwMjggNDI5LjU1MTMxNiwxMzQuMiA0NDUuMDc3OTE3LDEzNC4yIEM0NjAuNjA0NTE4LDEzNC4yIDQ3OC44MTgyNDYsMjE1LjgzNDMwOCA1MjYuNTMyMTcxLDIyMi42NSBDNTc0LjI0NjA5NSwyMjkuNDY1NjkyIDYxNC43MjczOTUsMjAxLjkzNTU2MSA2MzUuNzEyMjkxLDE4Mi44MDk0NDcgQzY1Ni42OTcxODcsMTYzLjY4MzMzMyA2ODEuMTY0MjYyLDIwNi4zODMzMzMgNzMzLjAzNDU0OCwyMDYuMzgzMzMzIEM3ODQuOTA0ODM0LDIwNi4zODMzMzMgNzk2Ljg0Njg5OCwxNzEuMjg1NjU4IDgxNC4yNjUzNjQsMTc2LjkgQzgzMS42ODM4MywxODIuNTE0MzQyIDg3My40MTUyMTEsMjIxLjY5OTcwNiA4OTAuMDUyODQ0LDIyMS42OTk3MDYgQzkwNi42OTA0NzgsMjIxLjY5OTcwNiA5MjguOTkwMDIxLDE5MS4zODAzOSA5NTEuNzkwNzQzLDE5NC4xODMzMzMgQzk3NC41OTE0NjUsMTk2Ljk4NjI3NyA5OTMuNDQ2Nzg5LDIwOC40MTY2NjcgMTAwOC40NTc4NiwyMDYuMzgzMzMzIEMxMDIzLjQ2ODkzLDIwNC4zNSAxMDMwLjMzNjQzLDE4NC42Mzc1MzUgMTA2NC44MDg1NSwxOTQuMTgzMzMzIEMxMDk5LjI4MDY4LDIwMy43MjkxMzIgMTA5Ni41MzA1OCwxODQuMzg2MzY4IDExMTIuNzY0MDksMTc4LjI4NjM2OCBDMTEyOC45OTc1OSwxNzIuMTg2MzY4IDExMzYuMzMyOTIsMTc2LjI0MTA2MSAxMTUwLjU4NDM5LDE2Ni42NDU2NjYgQzExNjQuODM1ODYsMTU3LjA1MDI3IDExNjkuNjg1ODYsMTQ2LjQzMTMyIDExODMuNzk3NzQsMTQ3LjQzMjMyNyBDMTE5Ny45MDk2MiwxNDguNDMzMzMzIDExOTYuMjk2ODUsMTY2LjY0NTY2NiAxMjI0LjQ5NzI5LDE2Ni42NDU2NjYgQzEyNTIuNjk3NzQsMTY2LjY0NTY2NiAxMjUxLjU2MDY3LDE3OC4zMDUxNDkgMTI2Ny4zOTYyMSwxNzcuODUzNDA3IEMxMjgzLjIzMTc1LDE3Ny40MDE2NjYgMTI5MC4yNDEzMSwxNTkuOTA4MTczIDEzMDQuNDY3NTEsMTYxLjA5MTkyIEMxMzE4LjY5MzcxLDE2Mi4yNzU2NjcgMTM0OS40NDEyNiwxOTQuMTgzMzMzIDEzNzIuMTE1NDMsMTk0LjE4MzMzMyBDMTQwOC4zMjY3NSwxOTQuMTgzMzMzIDE0MTEuNjc1OCwxNjQuMzIzODA3IDE0MzcuMTM2MjUsMTY0LjMyMzgwNyBDMTQ2Mi41OTY2OSwxNjQuMzIzODA3IDE0NjMuMzg5ODgsMTM5LjY5NjY3OCAxNDkzLjQ3MjI5LDE0Mi4zMzMzMzMgQzE1MjMuNTU0NzEsMTQ0Ljk2OTk4OSAxNTI5LjE3OTk1LDE2Ni42NDU2NjYgMTU3NS4yNDQ1LDE2Ni42NDU2NjYgQzE2MjEuMzA5MDUsMTY2LjY0NTY2NiAxNjI5LjA2MzY3LDEyMi40MTc0OTQgMTY1Ni4yMDAzNiwxMTUuMDkyMDgxIEMxNjgzLjMzNzA1LDEwNy43NjY2NjcgMTY5NC4xMDI1OCwxMjcuMDE4NzUxIDE3MTMuNjc2MjcsMTIzLjk0NDg3MyBDMTczMy4yNDk5NSwxMjAuODcwOTk0IDE3MzYuODA1NCwxMDUuMzM0MzQ5IDE3NzIuMzk3MzMsMTA3Ljc2NjY2NyBDMTgwNy45ODkyNSwxMTAuMTk4OTg1IDE4MDguOTI2NDcsMTE5LjQxODM5MyAxODMwLjkwOTc3LDExNS4wOTIwODEgQzE4NTIuODkzMDcsMTEwLjc2NTc2OCAxODc0Ljg3NjM4LDg4LjE4NTc5NjEgMTkwNC45NTg3OSw3Ni45MTA2MDczIEMxOTI1LjAxMzc0LDY5LjM5MzgxNDcgMTkzMC4wMjc0NywxMjUuMDkwMjc5IDE5MjAsMjQ0IEwwLDI0Ni44MDQyIEMyNC4xNjA1MzA5LDIxOS44NTY5NTYgNDEuMjMzMTE5MSwyMDYuMzgzMzMzIDUxLjIxNzc2NDMsMjA2LjM4MzMzMyBaIj48L3BhdGg+CiAgICAgICAgICAgIDwvZz4KICAgICAgICA8L2c+CiAgICA8L2c+Cjwvc3ZnPg==") left bottom no-repeat, linear-gradient(133deg, rgb(34, 41, 52) 0%, rgb(18, 22, 28) 100%);;
    border-bottom-left-radius: 2px;
    z-index: 9999 !important;
    border-bottom-right-radius: 2px
}

#menuUsers {
    color: rgb(132, 142, 156);;
    margin-right: -2em;
    font-size: 10px !important
}

#AccountsHeader {
    margin-left: -2em;
    font-weight: bold;
    font-size: 20px;
    color: white;
    white-space: nowrap;
}

.pop-hr {
    border: 0.5px solid white
}

#scrollableUsers {
    max-height: 320px;
    overflow: auto;
    margin-left: -5px;
}

.tooltip-wrapper {
    padding: 4px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    font-weight: bold;
    border-radius: 2px;
    margin: 2px;
    margin-top: 7px !important;
    font-size: 12px;
    width: 150px !important;
    text-align: center;
    z-index: 9999;
}

#bottom-users {
    position: absolute;
    bottom: 10px;
    width: 310px;
    padding: 0 0 10px 0;
}

#editIcon {
    font-size: 12px !important
}

#unusualHr {
    width: 100%;
    margin-top: -0.65em;
    border: 1px solid rgb(33, 40, 51);
    border-radius: 15px;
    margin-right: 2em;
    margin-left: 2em
}

#imageBNB {
    margin-top: 1.5em;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.bold {
    font-weight: bold;
}

#fiat {
    font-weight: bold;
    margin-top: -1em;
    margin-bottom: 0px;
    color: grey;
    font-size: 16px !important
}

#more {
    font-weight: bold;
    color: grey;
    margin-top: 0em;
    text-decoration: underline;
    font-size: 13px
}

.main-btn {
    width: 9.5em !important;
    margin-right: 0.25em;
}

#historyDiv, #buttonsDiv {
    margin-top: 1.5em
}

#historyP {
    margin-bottom: 0;
    font-weight: bold;
    color: #5a5a5a;
    font-size: 16px
}

#unusualHrSecond {
    width: 100% !important;
    border: 1px solid #c5c5c5;
    margin-left: 3em !important;
    margin-right: 3em;
    margin-top: 0.5em;
}




.menu-wrapper {
    margin-top: 1px;
    border: none;
    background: none;
    max-width: 300px !important;
    line-height: 1 !important;
    width: 170px !important;
}

.menu-wrapper:focus {
    outline: none;
}


#users-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 5px;
}

.menu-wrapper-users {
    position: absolute;
    top: 34px;
    left: -45px;
    border: rgba(11, 14, 17, .9);
    background: rgba(11, 14, 17, .9);
    max-width: 400px !important;
    width: 350px !important;
    height: 533px !important;
    border-radius: 0px;
}

.menu-wrapper-users:focus {
    outline: none;
}

.menu-item-users {
    background: rgba(11, 14, 17, 0);
    border: none;
    display: block;
    padding: 5px;
    width: 100%;
    font-size: 18px;
    font-weight: bolder;
    color: white;
    text-align: left;
}

.menu-item-users:hover {
    font-size: 18px;
    color: rgb(239, 184, 11);
    font-weight: bolder;
}

.item-of:hover {
    background: rgba(11, 14, 17, .3);
    border-radius: 10px;
    border: none;
}


.btn-basic {
    background: none;
    border: none;
    color: white;
    font-size: 13px;
}

.btn-basic:hover {
    background: rgb(239, 184, 11);
    border: none;
    color: rgb(11, 14, 17);
    font-size: 13px;
    border-radius: 10px;
}