<div class="amount-field-grid">

    <div class="amount-field-input">
        <input type="text"
               digitOnly
               decimal="true"
               placeholder="0"
               min="0"
               max="0"
               class="overflow-ellipsis"
               style="border: none"
        />
    </div>

    <!--            <div class="overflow-ellipsis amount-field-currency-main">{{selectedToken}}</div>-->
    <div class="overflow-ellipsis amount-field-currency-main">BNB</div>

    <!-- disabled second line input -->
    <div class="gray-out amount-field-secondary-sum overflow-ellipsis">N/A</div>
    <div class="gray-out amount-field-currency-second">USD</div>

    <!-- switch button -->
    <div class="gray-out amount-field-switch">
        <i class="fa fa-exchange fa-rotate-90"></i>
    </div>
</div>

