<div [ngClass]="{'red-border': touched && !isValid, 'normal-border': !touched || isValid}"
     class="wrap text-center send-input">
    <mat-form-field class="form-group send-field">
        <div>
            <input autocomplete="off" #addressElem class="form-control"
                   (input)="validate();"
                   (focus)="touched = true"
                   placeholder="BNB address"
                   spellcheck="false">
            <!--//for future-->
            <!--<i class="fa fa-qrcode" style="margin-top: 0; font-size: 25px;"></i>-->
        </div>
        <!-- just a qucik fix for layout and mat-form-field complaining -->
        <input matInput style="display: none">
    </mat-form-field>
</div>
