<div class="container-fluid">
    <app-menu-top></app-menu-top>
</div>

<ng-container *ngIf="(this.stateService.currentAddress$ | async) as address">
    <ng-container *ngIf="(stateService.uiState$ | async).storageData.selectedBlockchain as blockchain">

        <div class="row">
            <div class="col-12 text-center" style="margin-top: 10px; margin-left: 0px; margin-bottom: 1em !important">
                <button (click)="goBack()" class="btn btn-just-icon btn-back btn-round">
                    <i class="fas fa-arrow-left"></i>
                </button>
            </div>
        </div>
        <div class="row">
            <div style="margin-top: -1em" class="col-12">
                <h4 align="center" style="font-weight: bold; color: rgb(33, 40, 51); font-size: 22px">Your address</h4>
                <h6 style="color: rgb(132, 142, 156); font-weight: bold; padding-right: 3em; padding-left: 3em"
                    align="center">
                    Scan QR code or copy your address and send {{blockchain === 'binance' ? 'BNB' : 'ATOM'  }} to
                    it</h6>
            </div>
            <div class="col-12 text-center"
                 style="margin-top: 10px; margin-left: 6.79em; margin-bottom: 1.3em !important">
                <qrcode [qrdata]="qrCode" [size]="130" [level]="'M'"></qrcode>
            </div>
            <div class="col-12 text-center"
                 style="padding-bottom: 1.5em; padding-right: 0; padding-left: 0em; margin-left: 0; margin-right: 0">
                <p style="font-weight: bolder; color: rgb(33, 40, 51);font-size: 9px">{{(this.stateService.uiState$ | async ).storageData.selectedAddress}}
                    <button style="padding: 8px; background: rgba(132, 142, 156, 0.15); color: rgb(72, 81, 93);
         font-size: 10px; box-shadow: none;"
                            [satPopoverAnchor]="p"
                            (mouseenter)="p.open()"
                            (mouseleave)="p.close(); this.copyMessage='Copy to clipboard';" id="addressButton"
                            (click)="this.copyAddress(address);" class="button-qr btn btn-default">
                        <i id="copyButton" class="fas fa-copy"></i>
                    </button>
                </p>
            </div>
            <div class="col-12 text-center">
                <div>
                    <button *ngIf="blockchain === 'binance'" (click)="this.openTab(address, blockchain)"
                            class="btn btn-binance btn-lg">View on explorer
                    </button>
                    <button *ngIf="blockchain === 'cosmos'" (click)="this.openTab(address, blockchain)"
                            class="btn btn-cosmos-outline btn-lg">View on explorer
                    </button>
                </div>
            </div>
            <sat-popover #p horizontalAlign="center" openTransition="100ms ease-out" closeTransition="150ms ease-in"
                         verticalAlign="below">
                <div id="popup" class="tooltip-wrapper">
                    {{this.copyMessage}}
                </div>
            </sat-popover>
        </div>

    </ng-container>
</ng-container>
