:host {
    display: block;
    background: white;
    border-radius: 2px;
}
input {
    padding-top: 4px !important;
    /*padding-left: -6px !important;*/
    line-height: 18px;
    text-align: center !important;
    font-size: 15px;
    border-radius: 10px;
    margin-left: 4em;
    border: 1.5px solid rgb(33, 40, 51);
}
input:focus {
    outline: none;
}

.wrapper {
    padding-top: 4.2px !important;
    /*padding-left: -6px !important;*/
    color: black !important;
}