:host {
    display: block;
    background: none;
}
input {
    padding-top: 4px !important;
    /*padding-left: -6px !important;*/
    line-height: 16px;
    height: 30px;
    text-align: center !important;
    font-size: 18px;
    margin-left: 1.8em;
    background: rgba(11, 14, 17, 1) !important;
    border-radius: 8px;
    color: white !important;
}
input:focus {
    outline: none;
    color: white !important;
    font-weight: bolder !important;
}

.wrapper {

    /*padding-left: -6px !important;*/
    color: white !important;
}

/* todo: make it inheritable*/
.btn-bnb {
    background: none;
    border: none;
    color: white;
    font-size: 13px;
}

.btn-bnb:hover {
    background: rgb(239, 184, 11);
    border: none;
    color: rgb(11, 14, 17);
    font-size: 13px;
    border-radius: 10px;
}

.btn-csm {
    background: none;
    border: none;
    color: white;
    font-size: 13px;
}

.btn-csm:hover {
    background: linear-gradient(90deg, rgb(80, 100, 251) 0%, rgb(63, 56, 255) 100%) !important;
    border: none;
    color: rgb(11, 14, 17);
    font-size: 13px;
    border-radius: 10px;
}