<form style="background: none; width: 190px;    margin-left: -14.8em;
    margin-top: -1.7em; color: white!important;" (ngSubmit)="onSubmit()">
    <input autocomplete="off" class="form-control" type="text" name="value" [(ngModel)]="this.value">


</form>
<div style="margin-top: -2.2em;
    background: black;
    border-radius: 10px;" class="div">
    <button (click)="onSubmit()" style="white-space: nowrap!important" class="btn-basic">
        <fa name="save"></fa>
        Save
    </button>
</div>
