<div class="container">
    <div id="top-account-col"
         class="row text-center">
        <div class="col" align="left">
            <button [satPopoverAnchor]="menuUsers" (click)="updateUsersList(); menuUsers.toggle()"
                    class="btn btn-link btn-just-icon btn-lg" id="menuUsers" href="/main">
                <fa name="users" size="sm"></fa>
            </button>
            <sat-popover #menuUsers horizontalAlign="center" verticalAlign="center">
                <div class="menu-wrapper-users" tabIndex="0">
                    <div class="container">
                        <div id="users-wrapper" class="row">
                            <div id="AccountsHeader" align="left" class="col-8">
                                My Accounts
                            </div>
                            <div id="logOut" align="right" class="col-4">
                                <button id="logOutBtn" class="btn btn-binance-outline btn-sm">Log out
                                </button>
                            </div>
                        </div>
                        <hr class="pop-hr">
                    </div>
                    <div id="scrollableUsers" class="container">
                        <div class="row">
                            <div class="col-12">
                                <button *ngFor="let item of usersMenu" class="menu-item-users"
                                        (click)="selectUser(item.val); menuUsers.toggle()">
                                    <button class="btn btn-just-icon"> {{item.val.charAt(0).toUpperCase()}}</button>
                                    {{ item.val }}
                                </button>
                            </div>
                        </div>
                    </div>
                    <div id="bottom-users" class="container">
                        <div class="row">
                            <div class="col-12">
                                <hr class="pop-hr">
                                <button class="menu-item-users">
                                    <fa name="plus" size="sm"></fa>
                                    Create Account
                                </button>
                                <button class="menu-item-users">
                                    <fa name="arrow-right" size="sm"></fa>
                                    Import Account
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </sat-popover>
        </div>
        <div class="col">
            <button [satPopoverAnchor]="menuNetwork" (click)="menuNetwork.toggle()"
                    class="btn btn-link btn-outline  btn-sm"
                    href="/main" id="networkBtn">
                <strong id="NetworkWord">Network:</strong> {{ this.selectedNetwork }}
                <fa name="caret-down" size="sm"></fa>
            </button>
            <sat-popover #menuNetwork horizontalAlign="center" verticalAlign="center">
                <div class="menu-wrapper" tabIndex="0">
                    <button *ngFor="let item of networkMenu"
                            class="menu-item"
                            (click)="selectNetwork(item.val); menuNetwork.toggle()">
                        {{ item.val }}
                    </button>
                </div>
            </sat-popover>
        </div>
        <div align="right" class="col">
            <button id="cog" class="btn btn-link btn-just-icon btn-lg" href="/main">
                <fa name="cog" size="sm"></fa>
            </button>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-12">
            <button [satPopoverAnchor]="name" (click)="name.open()" class="btn btn-sm btn-link" id="editButton">
                {{this.accountName}}
                <fa id="editIcon" name="edit" size="sm"></fa>
            </button>
            <br>
            <button [satPopoverAnchor]="p"
                    (mouseenter)="p.open()"
                    (mouseleave)="p.close(); this.copyMessage='Copy to clipboard';" id="addressButton"
                    (click)="this.copyAddress();"
                    class="btn btn-sm btn-link hover-anchor">
                {{this.shortAddress$ | async}}
                <fa id="copyButton" name="copy" size="sm"></fa>
            </button>
        </div>
        <sat-popover #p horizontalAlign="center" openTransition="100ms ease-out"
                     [interactiveClose]="false" closeTransition="150ms ease-in" verticalAlign="below">
            <div id="popup" class="tooltip-wrapper">
                {{this.copyMessage}}
            </div>
            <div class="arrow">
            </div>
        </sat-popover>
        <sat-popover #name hasBackdrop forceAlignment>
            <app-edit-form (update)="this.accountName = $event"></app-edit-form>
        </sat-popover>
        <hr id="unusualHr">
        <div class="col-12">
            <img id="imageBNB"
                 draggable="false" width="48" src="../../assets/icons/icon128.png">
            <h3 class="bold">{{(bnb$ | async) || 'pending'}}</h3>
            <h4 id="fiat">
                {{(fiat$ | async) || 'pending'}}
            </h4>
            <a id="more">More
                balances</a>
        </div>
        <div id="buttonsDiv" class="col-12">
            <button class="btn btn-binance-outline btn-lg main-btn">
                RECEIVE
            </button>
            <button class="btn btn-binance-outline btn-lg main-btn">SEND
            </button>
        </div>
    </div>
    <div class="row">
        <div id="historyDiv" align="center" class="col-12">
            <p id="historyP">History</p>
        </div>
        <hr id="unusualHrSecond">
    </div>
    <div class="row">
        <div id="col-hist" class="col-12">
            <app-history-component></app-history-component>
        </div>
    </div>
</div>
