<div class="container">
    <app-menu-top></app-menu-top>
    <div class="row text-center">
        <div class="col-12">
            <button [satPopoverAnchor]="name" (click)="name.open()" class="btn btn-sm btn-link" id="editButton">
                {{ (this.storage.currentAccount$ | async).accountName }}
                <fa id="editIcon" name="edit" size="sm"></fa>
            </button>
            <br>
            <button [satPopoverAnchor]="p"
                    (mouseenter)="p.open()"
                    (mouseleave)="p.close(); this.copyMessage='Copy to clipboard';" id="addressButton"
                    (click)="this.copyAddress();"
                    class="btn btn-sm btn-link hover-anchor">
                {{this.shortAddress$ | async}}
                <fa id="copyButton" name="copy" size="sm"></fa>
            </button>
        </div>

        <sat-popover #p horizontalAlign="center" openTransition="100ms ease-out" closeTransition="150ms ease-in"
                     verticalAlign="below">
            <div id="popup" class="tooltip-wrapper">
                {{this.copyMessage}}
            </div>
            <div class="arrow">
            </div>
        </sat-popover>
        <sat-popover #name hasBackdrop forceAlignment>
            <app-edit-form (update)="this.currentAccount.accountName = $event"></app-edit-form>
        </sat-popover>

        <hr id="unusualHr">
        <div class="col-12">
            <img id="imageBNB"
                 draggable="false" width="48" src="../../assets/icons/icon128.png">
            <h3 class="bold">{{(bnb$ | async) || 'pending'}}</h3>
            <h4 id="fiat">
                {{(fiat$ | async) || 'pending'}}
            </h4>
            <a id="more">More balances</a>
        </div>

        <div id="buttonsDiv" class="col-12">
        <button class="btn btn-binance-outline btn-lg main-btn">RECEIVE</button>
        <button routerLink="/send" class="btn btn-binance-outline btn-lg main-btn">SEND</button>
    </div>

    </div>
    <div class="row">
        <div id="historyDiv" align="center" class="col-12">
            <p id="historyP">History</p>
        </div>
        <hr id="unusualHrSecond">
    </div>
    <div class="row">
        <div id="col-hist" class="col-12">
            <app-history-component></app-history-component>
        </div>
    </div>
</div>
