<div class="d-flex flex-column h-100" style="align-items: center; justify-content:center">

    <img style="height:48px;width:48px" src="../../../assets/icons/icon128.png" alt="">
    <br>
    <b style="text-align: center">Binance | Dex Trading | Decentralized | Exchange | Binance .org</b>
    <a class="text-center" href="https:www.binance.org">https:www.binance.org</a>

    <br>
    <div>
        <div class="col-12 text-center mt-1" id="buttonsDiv">
            <button class="btn btn-outline-danger btn-lg mr-1 reject-btn">REJECT</button>
            <button class="btn btn-binance-outline btn-lg ">APPROVE</button>
        </div>
    </div>
</div>



