.histcomp:hover {
    background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMTkxOXB4IiBoZWlnaHQ9IjE2OXB4IiB2aWV3Qm94PSIwIDAgMTkxOSAxNjkiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8IS0tIEdlbmVyYXRvcjogU2tldGNoIDUyLjYgKDY3NDkxKSAtIGh0dHA6Ly93d3cuYm9oZW1pYW5jb2RpbmcuY29tL3NrZXRjaCAtLT4KICAgIDx0aXRsZT7ot6/lvoQ8L3RpdGxlPgogICAgPGRlc2M+Q3JlYXRlZCB3aXRoIFNrZXRjaC48L2Rlc2M+CiAgICA8ZyBpZD0iYmxvY2tjaGFpbi0t6YCC6YWNIiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIiBmaWxsLW9wYWNpdHk9IjAuNiIgc3Ryb2tlLW9wYWNpdHk9IjAuOCI+CiAgICAgICAgPGcgaWQ9IndlYi1tYXgtd2lkdGgtYWRkZWQtbGluay10by1ERVgiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0xLjAwMDAwMCwgLTc1LjAwMDAwMCkiIGZpbGw9IiMxMjE2MUMiIGZpbGwtcnVsZT0ibm9uemVybyIgc3Ryb2tlPSIjMTIxNjFDIj4KICAgICAgICAgICAgPGcgaWQ9Iui3r+W+hCI+CiAgICAgICAgICAgICAgICA8cGF0aCBkPSJNNTEuMjE3NzY0MywyMDYuMzgzMzMzIEM2Ni4xOTQ3MzIzLDIwNi4zODMzMzMgNzQuMTI5ODAwMSwyMzIuNjA4ODQ0IDEwMS43ODMxNzEsMjMxLjkzNTY4IEMxMjkuNDM2NTQxLDIzMS4yNjI1MTUgMTM3LjAxNTgwNiwyMTYuNDU0MTkxIDE2Ni4zNzYzMzYsMjE2Ljk3NzQ1NSBDMTk1LjczNjg2NiwyMTcuNTAwNzE5IDIxMy40ODYwNjgsMjMzLjgzMzMzMyAyMjcuMDU0NzY1LDIzMy44MzMzMzMgQzI0MC42MjM0NjIsMjMzLjgzMzMzMyAyNjEuNzcyOTg3LDIyMi41MjQ2MzggMjc1LjAxMDI5NywyMjIuNjUgQzI4OC4yNDc2MDcsMjIyLjc3NTM2MiAzMTAuMjQyOTMzLDIyOC42NzY1ODEgMzI5LjgzMjgwNCwyMzAuNzgzMzMzIEMzNDkuNDIyNjc0LDIzMi44OTAwODUgMzc3Ljc3MjE1MiwyMzkuODk5MzA1IDQwMi4yMzkyNiwxOTAuMTE2NjY3IEM0MjYuNzA2MzY5LDE0MC4zMzQwMjggNDI5LjU1MTMxNiwxMzQuMiA0NDUuMDc3OTE3LDEzNC4yIEM0NjAuNjA0NTE4LDEzNC4yIDQ3OC44MTgyNDYsMjE1LjgzNDMwOCA1MjYuNTMyMTcxLDIyMi42NSBDNTc0LjI0NjA5NSwyMjkuNDY1NjkyIDYxNC43MjczOTUsMjAxLjkzNTU2MSA2MzUuNzEyMjkxLDE4Mi44MDk0NDcgQzY1Ni42OTcxODcsMTYzLjY4MzMzMyA2ODEuMTY0MjYyLDIwNi4zODMzMzMgNzMzLjAzNDU0OCwyMDYuMzgzMzMzIEM3ODQuOTA0ODM0LDIwNi4zODMzMzMgNzk2Ljg0Njg5OCwxNzEuMjg1NjU4IDgxNC4yNjUzNjQsMTc2LjkgQzgzMS42ODM4MywxODIuNTE0MzQyIDg3My40MTUyMTEsMjIxLjY5OTcwNiA4OTAuMDUyODQ0LDIyMS42OTk3MDYgQzkwNi42OTA0NzgsMjIxLjY5OTcwNiA5MjguOTkwMDIxLDE5MS4zODAzOSA5NTEuNzkwNzQzLDE5NC4xODMzMzMgQzk3NC41OTE0NjUsMTk2Ljk4NjI3NyA5OTMuNDQ2Nzg5LDIwOC40MTY2NjcgMTAwOC40NTc4NiwyMDYuMzgzMzMzIEMxMDIzLjQ2ODkzLDIwNC4zNSAxMDMwLjMzNjQzLDE4NC42Mzc1MzUgMTA2NC44MDg1NSwxOTQuMTgzMzMzIEMxMDk5LjI4MDY4LDIwMy43MjkxMzIgMTA5Ni41MzA1OCwxODQuMzg2MzY4IDExMTIuNzY0MDksMTc4LjI4NjM2OCBDMTEyOC45OTc1OSwxNzIuMTg2MzY4IDExMzYuMzMyOTIsMTc2LjI0MTA2MSAxMTUwLjU4NDM5LDE2Ni42NDU2NjYgQzExNjQuODM1ODYsMTU3LjA1MDI3IDExNjkuNjg1ODYsMTQ2LjQzMTMyIDExODMuNzk3NzQsMTQ3LjQzMjMyNyBDMTE5Ny45MDk2MiwxNDguNDMzMzMzIDExOTYuMjk2ODUsMTY2LjY0NTY2NiAxMjI0LjQ5NzI5LDE2Ni42NDU2NjYgQzEyNTIuNjk3NzQsMTY2LjY0NTY2NiAxMjUxLjU2MDY3LDE3OC4zMDUxNDkgMTI2Ny4zOTYyMSwxNzcuODUzNDA3IEMxMjgzLjIzMTc1LDE3Ny40MDE2NjYgMTI5MC4yNDEzMSwxNTkuOTA4MTczIDEzMDQuNDY3NTEsMTYxLjA5MTkyIEMxMzE4LjY5MzcxLDE2Mi4yNzU2NjcgMTM0OS40NDEyNiwxOTQuMTgzMzMzIDEzNzIuMTE1NDMsMTk0LjE4MzMzMyBDMTQwOC4zMjY3NSwxOTQuMTgzMzMzIDE0MTEuNjc1OCwxNjQuMzIzODA3IDE0MzcuMTM2MjUsMTY0LjMyMzgwNyBDMTQ2Mi41OTY2OSwxNjQuMzIzODA3IDE0NjMuMzg5ODgsMTM5LjY5NjY3OCAxNDkzLjQ3MjI5LDE0Mi4zMzMzMzMgQzE1MjMuNTU0NzEsMTQ0Ljk2OTk4OSAxNTI5LjE3OTk1LDE2Ni42NDU2NjYgMTU3NS4yNDQ1LDE2Ni42NDU2NjYgQzE2MjEuMzA5MDUsMTY2LjY0NTY2NiAxNjI5LjA2MzY3LDEyMi40MTc0OTQgMTY1Ni4yMDAzNiwxMTUuMDkyMDgxIEMxNjgzLjMzNzA1LDEwNy43NjY2NjcgMTY5NC4xMDI1OCwxMjcuMDE4NzUxIDE3MTMuNjc2MjcsMTIzLjk0NDg3MyBDMTczMy4yNDk5NSwxMjAuODcwOTk0IDE3MzYuODA1NCwxMDUuMzM0MzQ5IDE3NzIuMzk3MzMsMTA3Ljc2NjY2NyBDMTgwNy45ODkyNSwxMTAuMTk4OTg1IDE4MDguOTI2NDcsMTE5LjQxODM5MyAxODMwLjkwOTc3LDExNS4wOTIwODEgQzE4NTIuODkzMDcsMTEwLjc2NTc2OCAxODc0Ljg3NjM4LDg4LjE4NTc5NjEgMTkwNC45NTg3OSw3Ni45MTA2MDczIEMxOTI1LjAxMzc0LDY5LjM5MzgxNDcgMTkzMC4wMjc0NywxMjUuMDkwMjc5IDE5MjAsMjQ0IEwwLDI0Ni44MDQyIEMyNC4xNjA1MzA5LDIxOS44NTY5NTYgNDEuMjMzMTE5MSwyMDYuMzgzMzMzIDUxLjIxNzc2NDMsMjA2LjM4MzMzMyBaIj48L3BhdGg+CiAgICAgICAgICAgIDwvZz4KICAgICAgICA8L2c+CiAgICA8L2c+Cjwvc3ZnPg==") left top no-repeat, linear-gradient(133deg, rgb(34, 41, 52) 0%, rgb(18, 22, 28) 100%);
    z-index: -99999;
    color: white !important;
}

.histcomp:hover .type {
    color: white !important;
}

.histcomp:hover .sums {
    color: rgb(170, 181, 197) !important;
}

.histcomp:hover .time {
    color: rgb(191, 204, 222) !important;
}

.histcomp:hover .btn-infos {
    background: white !important;
    color: rgb(34, 41, 52) !important;
    box-shadow: none !important;
}

.histcomp:hover .infos-fa {
    color: rgb(34, 41, 52) !important;
}

.type {
    grid-column: 2;
    grid-row: 2;
    font-weight: bolder;
    color: rgb(33, 40, 51);
    font-size: 13px
}

.histcomp {
    margin-left: 0em;
    border-bottom: 0.0625rem solid rgba(234, 236, 239, 0.5);
    padding-bottom: 1.2em;
    padding-top: 1.4em;
    border-radius: 2px
}

.overflow-ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
