<div *ngIf="isLoaded && history.length > 0" style="margin-top: -2.4em;">
    <div (click)="goToDetails(tx)" class="container-fluid histcomp" *ngFor="let tx of history; let i = index">
        <div style="display: grid; grid-template: 1fr 5fr 5fr / 1fr 4fr 2fr 1fr; height: 30px; align-content: center;">
            <div style="grid-column: 2/3; grid-row: 1; margin-bottom: -0.3em">
                <small class="time"
                       style="font-size: 12px !important; font-weight: 500; color: rgb(132, 142, 156);margin-left: 0.1em">
                    {{'#'+ (i+1 | number) + ' '}} {{tx.timeStamp | date: 'dd/MM/yyyy' || ''}}
                </small>
            </div>
            <div style="grid-column: 1; grid-row: 1/3 !important; align-self: center;
            align-content: center; align-items: center; margin-bottom: -1.5em; color: rgb(132, 142, 156);">
                <img src="{{findMappedImage(tx.txAsset)}}" alt="info" width="25" height="25">
            </div>
            <div style="font-size: 15px; font-weight: bold" class="type">
                {{checkType(tx)}}
            </div>
            <div class="overflow-ellipsis" style="grid-column: 2/3; grid-row: 3; margin-top: -0.5em; color: rgb(132, 142, 156)">
                <small style="font-size: 14px" class="sums">
                    {{tx.value || ''}} {{this.findMappedName(tx.txAsset) || ''}}
                </small>
            </div>

            <div style="grid-column: 3; grid-row: 3; margin-top: -1.6em; color: rgb(132, 142, 156); ">
                <!-- USD rates one day -->
            </div>

            <div class="text-center"
                 style="grid-column: 4; grid-row: 3; margin-top: -0.4em; margin-right: 0; margin-bottom: 0.2em">
                    <i  [satPopoverAnchor]="details"
                           (mouseenter)="details.open();"
                           (mouseleave)="details.close();" (click)="goToDetails(tx)"  style="color: rgb(33, 40, 51);" class="fas fa-info-circle custom-info" aria-hidden="true"></i>
            </div>
            <sat-popover #details horizontalAlign="center" openTransition="150ms ease-out" closeTransition="150ms ease-in"
                         verticalAlign="below">
                <div id="popup" class="tooltip-wrapper">
                    It is about
                    <br>
                    {{(calculateSumInFiat(+tx.value) | async) || 'pending' }}
                    <br>
                    {{this.stateService.uiState$.getValue().storageData.baseFiatCurrency}}
                </div>
                <div class="arrow">
                </div>
            </sat-popover>
        </div>
    </div>
</div>

<div *ngIf="!isLoaded" style="margin-top: -1.4em;">
    <loaders-css [loader]="loader" [scale]="1" [bgColor]="bgColor" [color]="color"></loaders-css>
</div>

<div *ngIf="isEmpty && isLoaded" style="margin-top: -1.4em;">
    <div class="row">
        <div class="col-12 text-center">
            <p style="color: rgb(132, 142, 156); font-size: 14px;">You have no transactions</p>
        </div>
    </div>
</div>
