<div style="margin-top: -1.4em">


    <div style="margin-top: 1.4em; margin-left: 0.3em" class="container-fluid" *ngFor="let tx of (hist$| async).tx">
        <div style="display: grid; grid-template: 1fr 1fr / 1fr 4fr 1fr; height: 30px;  align-content: center">
            <div style="grid-column: 1; grid-row: 1/2 !important; align-self: center; align-content: center; align-items: center; margin-bottom: -1.5em; margin-left: 1.2em">
                <img src="../../../../assets/icons/icon48.png" alt="info" width="25" height="25">
            </div>
            <div style="grid-column: 2; grid-row: 1; font-weight: bolder; font-size: 15px">{{tx.txType }}</div>
            <div style="grid-column: 2; grid-row: 2">
                <small>{{tx.value || ''}} {{tx.txAsset || ''}}</small>
            </div>
            <div style="grid-column: 3; grid-row: 2; margin-top: -0.5em">
                <fa style="" name="info" size="sm"></fa>
            </div>
        </div>
    </div>
</div>
