.input-text {
    border: none;
    border-image: none;
    background: rgba(132, 142, 156, 0.15);
    border-radius: 0.35rem;
    padding-left: 1em;
    padding-right: 1em;
    color: rgb(72, 81, 93);
}

.input-text::placeholder {
    color: rgba(72, 81, 93, 0.35) !important;
}

.input-text:focus::placeholder {
    color: rgba(72, 81, 93, 1) !important;
}

.input-text:focus {
    box-shadow: 0 0 0 0.1875rem rgba(37, 45, 56, 0.15);;
    background: rgba(132, 142, 156, 0.15);
    color: rgba(72, 81, 93, 5) !important;
}