<div class="container">
    <app-menu-top></app-menu-top>
    <div class="row text-center">
        <div class="col-12">
            <button style="margin-top: 0.3em; margin-bottom: 1.2em; color: rgb(132, 142, 156);" [satPopoverAnchor]="p"
                    (mouseenter)="p.open()"
                    (mouseleave)="p.close(); this.copyMessage='Copy to clipboard';" id="addressButton"
                    (click)="this.copyAddress();"
                    class="btn btn-sm btn-link hover-anchor">
                <p style="margin-top: 0px !important; margin-bottom: -0.5em !important; color: rgb(33, 40, 51)"
                   id="editButton">{{ (this.storage.currentAccount$ | async).accountName }} </p>
                {{this.shortAddress$ | async}}
                <fa id="copyButton" name="copy" size="sm"></fa>
            </button>
        </div>

        <sat-popover #p horizontalAlign="center" openTransition="150ms ease-out" closeTransition="150ms ease-in"
                     verticalAlign="below">
            <div id="popup" class="tooltip-wrapper">
                {{this.copyMessage}}
            </div>
            <div class="arrow">
            </div>
        </sat-popover>
        <hr id="unusualHr">
        <div class="col-12">
            <img id="imageBNB"
                 draggable="false" width="48" src="../../../assets/icons/icon128.png">
            <h3 class="bold">{{(bnb$ | async) || 'pending'}}</h3>
            <h4 id="fiat">
                {{(fiat$ | async) || 'pending'}}
            </h4>
            <a routerLink="/balances" id="more">More balances</a>
        </div>

        <div id="buttonsDiv" class="col-12">
            <button routerLink="/receive" class="btn btn-binance-outline btn-lg main-btn">RECEIVE</button>
            <button routerLink="/send" class="btn btn-binance-outline btn-lg main-btn">SEND</button>
        </div>

    </div>
    <div class="row">
        <div id="historyDiv" align="center" class="col-12">
            <p id="historyP">History</p>
        </div>
        <hr style="margin-bottom: 1.85em" id="unusualHrSecond">
    </div>
    <div class="row">
        <div id="col-hist" class="col-12">
            <app-history-component></app-history-component>
        </div>
    </div>
</div>
