<div #alphaAlert (click)="closeAlphaAlert()" class="text-center"
     style="height: 24px; width: 100%; background: red; color: white; font-weight: bold; font-size: 14px">
    <p>ALPHA VERSION - USE ON YOUR OWN RISK
        <i class="fas fa-times"></i>
    </p>
</div>

<app-wc-session-approve *ngIf="showApprove" [sessionRequest]="sessionRequest"
                        (isApproved)="approveWalletConnectSession($event)">
</app-wc-session-approve>

<app-wc-call-request-approve *ngIf="showCallRequest" [callRequest]="callRequest"
                             (isApproved)="approveOrder($event)">
</app-wc-call-request-approve>

<div class="container-fluid" *ngIf="!showApprove && !showCallRequest">
    <app-menu-top></app-menu-top>

    selectedBlockchain: {{stateService.selectedBlockchain$ | async}}
    <div class="row text-center">
        <div class="col-2">
            <i style="margin-top: 1.2em; margin-left: 1.3em" (click)="switchBlockchain()" class="fas fa-random"></i>
            <!--            <button style="font-size: 13px !important; margin-left: 0.7em" class="btn btn-just-icon btn-round btn-binance-outline-three">-->
            <!--                BNB-->
            <!--            </button>-->
        </div>
        <div class="col-6">
            <button style="margin-top: 0.3em; margin-bottom: 1.2em; color: rgb(132, 142, 156); margin-left: 0.7em;"
                    [satPopoverAnchor]="p"
                    (mouseenter)="p.open()"
                    (mouseleave)="p.close(); this.copyMessage='Copy to clipboard';" id="addressButton"
                    (click)="this.copyAddress();"
                    class="btn btn-sm btn-link hover-anchor">
                <p style="margin-top: 0 !important; margin-bottom: -0.5em !important; color: rgb(33, 40, 51)"
                   id="editButton">
                    {{accountName$ | async}}
                </p>
                {{this.shortAddress$ | async}}
                <i style="font-size: 9px !important;" id="copyButton" class="fas fa-copy"></i>
            </button>
        </div>

        <div class="col-3">
            <button *ngIf="!walletConnected" [satPopoverAnchor]="wc"
                    (mouseenter)="wc.open();"
                    (mouseleave)="wc.close();"
                    (click)="connect()"
                    style="margin-left: 2.3em; margin-top: 0.5em;"
                    class="btn btn-binance-outline-two btn-sm btn-just-icon btn-round">
                <img width="20" height="20" style="margin-bottom: 15px" class="grayscale" alt="wc"
                     src="../../../assets/icons/icon128.png"/>
            </button>

            <button *ngIf="walletConnected" [satPopoverAnchor]="wc"
                    (mouseenter)="wc.open();"
                    (mouseleave)="wc.close();"
                    (click)="disconnect()"
                    style="margin-left: 2.3em; margin-top: 0.3em; color:rgb(132, 142, 156)!important;"
                    class="btn btn-binance-outline-two btn-sm btn-just-icon btn-round">
                <i style="font-size: 20px; margin-top: -3em" class="fas fa-unlink"></i>
            </button>
        </div>

        <sat-popover #wc horizontalAlign="before" openTransition="150ms ease-out" closeTransition="150ms ease-in"
                     verticalAlign="below">
            <div id="popup2" class="tooltip-wrapper">
                {{this.walletConnectMessage}}
            </div>
            <div class="arrow">
            </div>
        </sat-popover>
        <sat-popover #p horizontalAlign="center" openTransition="150ms ease-out" closeTransition="150ms ease-in"
                     verticalAlign="below">
            <div id="popup" class="tooltip-wrapper">
                {{this.copyMessage}}
            </div>
            <div class="arrow">
            </div>
        </sat-popover>

        <hr id="unusualHr">

        <ng-container *ngIf="(stateService.uiState$ | async).storageData.selectedBlockchain as blockchain">
            <div class="col-12">

                <img id="imageBNB" *ngIf="blockchain === 'binance'"
                     draggable="false" width="68" src="../../../assets/icons/BNB Diamond Yellow 128.png">
                <img id="imageCosmos" *ngIf="blockchain  === 'cosmos'"
                     draggable="false" width="68" src="../../../assets/icons/atom.png">

                <h3 *ngIf="blockchain ==='binance'" class="bold">{{(coin$ | async) | fmtPipe : 'BNB'}}</h3>
                <h3 *ngIf="blockchain  === 'cosmos'" class="bold">{{(coin$ | async) | fmtPipe : 'ATOM'}}</h3>

                <h4 id="fiat">
                    {{(coinInUsd$  | async) | fmtPipe : (this.stateService.baseCurrency$ | async) }}
                </h4>
                <a *ngIf="(allBalances$ | async)" routerLink="/balances" class="more">More balances</a>
            </div>

            <div *ngIf="blockchain === 'binance'" class="col-12 buttonsDiv">
                <button routerLink="/receive" class="btn btn-binance-outline btn-lg main-btn">RECEIVE</button>
                <button routerLink="/send" class="btn btn-binance-outline btn-lg main-btn">SEND</button>
            </div>

            <div *ngIf="blockchain === 'cosmos'" class="col-12 buttonsDiv">
                <button routerLink="/receive" class="btn btn-cosmos-outline btn-lg main-btn">RECEIVE</button>
                <button routerLink="/send" class="btn  btn-cosmos-outline btn-lg main-btn">SEND</button>
            </div>
        </ng-container>
    </div>

    <div class="row">
        <div id="historyDiv" align="center" class="col-12">
            <p id="historyP">History</p>
        </div>
        <hr style="margin-bottom: 1.85em" id="unusualHrSecond">
    </div>
    <div class="row">
        <div id="col-hist" class="col-12">
            <app-history-component></app-history-component>
        </div>
    </div>
</div>
