<div class="col-12">
    <h3 style="font-family: 'Montserrat', sans-serif !important; font-weight: 600; color: black; margin-top: 2.5em"
        class="card-title">
        Repeat your password
    </h3>
    <p style="font-weight: bold; color: #828282">
        Remember this password. We can't restore your private key without it
    </p>
</div>

<div style="margin-top: 1em;" class="col-10 offset-1 text-center">
    <div class="form-group">
        <input type="password" class="form-control" id="password" placeholder="Repeat your password">
    </div>
</div>

<div style="margin-top: 1em;" class="col-12">
    <button (click)="next()" class="btn btn-binance btn-lg">Continue
    </button>
</div>
