<div style="border: 1px solid #cbcbcb; border-radius: 4px; height: 55px;margin-left: 22px;" class="wrap text-center">
    <mat-form-field class="example-full-width form-group">
        <div style="display: flex">
            <div style="display: grid; grid-template: 1fr / 1fr; grid-column-gap: 5px;">
                <input  autocomplete="off" #addressElem class="form-control"
                       style="background-image: none!important; grid-column: 1/1; width: 180px;margin-top: 0.8em"
                       (input)="save(addressElem.value)"
                       placeholder="Optional memo"
                       spellcheck="false">
            </div>
        </div>
        <input matInput style="display: none">
    </mat-form-field>
</div>
