<mat-form-field class="example-full-width form-group send-field">
    <div class="amount-field-grid">

        <div class="amount-field-input">
            <input class="form-control" type="number" [(ngModel)]="baseAmount"
                   (input)="userInput$.next($event.target.value)"
                   autocomplete="off" min="0" matInput value=0>
        </div>

        <div class="overflow-ellipsis amount-field-currency-main">{{baseSymbol}}</div>

        <div class="amount-field-secondary-sum overflow-ellipsis"
             [ngClass]="{'gray-out': !exchangeRateIsAvailable}">
            {{exchangeRateIsAvailable ? calculatedSum : 'N/A'}}
        </div>

        <div class="amount-field-currency-second"
             [ngClass]="{'gray-out': !exchangeRateIsAvailable}">{{secondarySymbol}}
        </div>

        <div class="amount-field-switch"
             [ngClass]="{'gray-out': !exchangeRateIsAvailable}"
             (click)="changeInputMode()">
            <i class="fa fa-exchange fa-rotate-90"></i>
        </div>
    </div>
</mat-form-field>

