<div class="container header">
    <div style="margin-top: 0px;padding-bottom: 0em; height: 67px" class="row">
        <div class="col-12 text-center">
            <button style="color: rgb(255,255,255); margin-top: 0.5em;" (click)="goBack()"
                    class="btn btn-just-icon btn-back btn-round">
                <fa name="arrow-left" size="sm"></fa>
            </button>
        </div>
    </div>
</div>
<div style="margin: 0; padding: 0" class="container">
    <div class="row">
        <div class="col-12">
            <div (click)="navigate('/general')" class="item"
                 style="display: grid; grid-template-columns: 1fr; grid-template-rows: 3fr 1fr; width: 100%;height: 25px !important; padding-bottom: 4.4em; grid-row-gap: 0px; margin-left:0em">
                <div style="grid-row: 1; margin-left: 1.6em; ">
                    <h4 style="font-weight: bolder; color: rgb(33, 40, 51);">
                        <fa id="copyButton" name="home" size="sm"></fa>
                        General
                    </h4>
                </div>
                <div style="grid-row: 2; margin-left: 1.6em; margin-top: -0.5em; color: rgb(72, 81, 93);">
                    Currencies and language
                </div>
                <div style="grid-row: 2; margin-top: 0em; margin-right: 2em; margin-top: -1.2em; color: rgb(72, 81, 93);">
                    <fa name="chevron-right" size="1x"></fa>
                </div>
            </div>
<!--            <div (click)="navigate('/advanced')" class="item"-->
<!--                 style="display: grid; grid-template-columns: 1fr; grid-template-rows: 3fr 1fr; width: 100%;height: 25px !important; padding-bottom: 4.4em;grid-row-gap: 0px; margin-left:0em">-->
<!--                <div style="grid-row: 1; margin-left: 1.6em; ">-->
<!--                    <h4 style="font-weight: bolder; color: rgb(33, 40, 51);">-->
<!--                        <fa name="adn" size="sm"></fa>-->
<!--                        Advanced-->
<!--                    </h4>-->
<!--                </div>-->
<!--                <div style="grid-row: 2; margin-left: 1.6em; margin-top: -0.5em; color: rgb(72, 81, 93);">-->
<!--                    Developer information, Logs-->
<!--                </div>-->
<!--                <div style="grid-row: 2; margin-top: 0em; margin-right: 2em; margin-top: -1.2em; color: rgb(72, 81, 93);">-->
<!--                    <fa name="chevron-right" size="1x"></fa>-->
<!--                </div>-->
<!--            </div>-->
            <div (click)="navigate('/securitynprivacy')" class="item"
                 style="display: grid; grid-template-columns: 1fr; grid-template-rows: 3fr 1fr; width: 100%;height: 25px !important; padding-bottom: 4.4em;grid-row-gap: 0px; margin-left:0em">
                <div style="grid-row: 1; margin-left: 1.6em; ">
                    <h4 style="font-weight: bolder; color: rgb(33, 40, 51);">
                        <fa name="shield" size="sm"></fa>
                        Security and Privacy
                    </h4>
                </div>
                <div style="grid-row: 2; margin-left: 1.6em; margin-top: -0.5em; color: rgb(72, 81, 93);">
                    Seed phrase, Accounts, Statistics
                </div>
                <div style="grid-row: 2; margin-top: 0em; margin-right: 2em; margin-top: -1.2em; color: rgb(72, 81, 93);">
                    <fa name="chevron-right" size="1x"></fa>
                </div>
            </div>
            <div class="item"
                 style="display: grid; grid-template-columns: 1fr; grid-template-rows: 3fr 1fr; width: 100%;height: 25px !important; padding-bottom: 4.4em;grid-row-gap: 0px; margin-left:0em">
                <div style="grid-row: 1; margin-left: 1.6em; ">
                    <h4 style="font-weight: bolder; color: rgb(33, 40, 51);">
                        <fa name="globe" size="sm"></fa>
                        Networks
                    </h4>
                </div>
                <div style="grid-row: 2; margin-left: 1.6em; margin-top: -0.5em; color: rgb(72, 81, 93);">
                    Custom networks
                </div>
                <div style="grid-row: 2; margin-top: 0em; margin-right: 2em; margin-top: -1.2em; color: rgb(72, 81, 93);">
                    <fa name="chevron-right" size="1x"></fa>
                </div>
            </div>
            <div class="item"
                 style="display: grid; grid-template-columns: 1fr; grid-template-rows: 3fr 1fr; width: 100%;height: 25px !important; padding-bottom: 4.4em;grid-row-gap: 0px; margin-left:0em">
                <div style="grid-row: 1; margin-left: 1.6em; ">
                    <h4 style="font-weight: bolder; color: rgb(33, 40, 51);">
                        <fa name="info" size="sm"></fa>
                        About
                    </h4>
                </div>
                <div style="grid-row: 2; margin-left: 1.6em; margin-top: -0.5em; color: rgb(72, 81, 93);">
                    Information about app
                </div>
                <div style="grid-row: 2; margin-top: 0em; margin-right: 2em; margin-top: -1.2em; color: rgb(72, 81, 93);">
                    <fa name="chevron-right" size="1x"></fa>
                </div>
            </div>
            <div class="item"
                 style="display: grid; grid-template-columns: 1fr; grid-template-rows: 3fr 1fr; width: 100%;height: 25px !important; padding-bottom: 4.4em;grid-row-gap: 0px; margin-left:0em">
                <div style="grid-row: 1; margin-left: 1.6em; ">
                    <h4 style="font-weight: bolder; color: rgb(33, 40, 51);">
                        <fa name="user" size="sm"></fa>
                        Feedback
                    </h4>
                </div>
                <div style="grid-row: 2; margin-left: 1.6em; margin-top: -0.5em; color: rgb(72, 81, 93);">
                    Give us feedback about app
                </div>
                <div style="grid-row: 2; margin-top: 0em; margin-right: 2em; margin-top: -1.2em; color: rgb(72, 81, 93);">
                    <fa name="chevron-right" size="1x"></fa>
                </div>
            </div>
        </div>
    </div>
</div>
