#copyButton {
    font-size: 14px !important;
}

#editButton {
    font-weight: bold;
    white-space: nowrap;
    color: #434343;
    font-size: 15px !important;
    margin-top: 0.3em;
}

#editButton:hover {
    font-size: 17px !important;
}

#addressButton {
    font-weight: bold;
    margin-top: -2.5em;
    color: grey;
    font-size: 12px !important;
}

#addressButton:hover {
    text-underline: rgb(239, 184, 11) !important;
    /*font-size: 14px !important;*/
}

#addressButton:active {
    font-size: 12px !important;
}

#cog {
    /*transition: all 1800ms ease-in-out;*/
    color: rgb(132, 142, 156);;
    margin-right: -0.5em;
}

#cog:hover {
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

#top-account-col {
    background: rgb(33, 40, 51);
    border-bottom-left-radius: 2px;
    z-index: 9999 !important;
    border-bottom-right-radius: 2px
}

#menuUsers {
    color: rgb(132, 142, 156);;
    margin-right: -2em;
    font-size: 10px !important
}

#AccountsHeader {
    font-weight: bold;
    font-size: 20px;
    color: white;
    white-space: nowrap;
}

.pop-hr {
    border: 0.8px solid white
}

#scrollableUsers {
    max-height: 320px;
    overflow: auto;
    margin-left: -5px;
}

.tooltip-wrapper {
    padding: 4px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    font-weight: bold;
    border-radius: 2px;
    margin: 2px;
    margin-top: 7px !important;
    font-size: 12px;
    width: 150px !important;
    text-align: center;
    z-index: 9999;
}

#bottom-users {
    position: absolute;
    bottom: 10px;
    width: 310px;
    padding: 0 0 10px 0;
}

#networkBtn {
    color: white;
    width: 170px !important;
    max-width: 170px !important;
    line-height: 1 !important;
    background: linear-gradient(90deg, rgb(239, 184, 11) 0%, rgb(251, 218, 60) 100%) !important;
    margin-top: 1.85em;
    border-radius: 15px;
    border: 1.47px solid rgb(240, 185, 11);
    font-weight: bold
}

#NetworkWord {
    color: rgb(33, 40, 51);
}

#editIcon {
    font-size: 12px !important
}

#unusualHr {
    width: 100%;
    margin-top: -0.65em;
    border: 1px solid rgb(33, 40, 51);
    border-radius: 15px;
    margin-right: 2em;
    margin-left: 2em
}

#imageBNB {
    margin-top: 1.5em;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.bold {
    font-weight: bold;
}

#fiat {
    font-weight: bold;
    margin-top: -1em;
    margin-bottom: 0px;
    color: grey;
    font-size: 16px !important
}

#more {
    font-weight: bold;
    color: grey;
    margin-top: 0em;
    text-decoration: underline;
    font-size: 13px
}

.main-btn {
    width: 9.5em !important;
    margin-right: 0.25em;
}

#historyDiv, #buttonsDiv {
    margin-top: 1.5em
}

#historyP {
    margin-bottom: 0;
    font-weight: bold;
    color: #5a5a5a;
    font-size: 16px
}

#unusualHrSecond {
    width: 100% !important;
    border: 1px solid #c5c5c5;
    margin-left: 3em !important;
    margin-right: 3em;
    margin-top: 0.5em;
}

#col-hist {
    margin: 0 !important;
    padding: 0 !important
}

button#addressButton.btn.btn-sm.btn-link.hover-anchor {
    background: rgba(11, 14, 17, .3) !important;
    border-radius: 8px;
    z-index: -99999;
}

.menu-wrapper {
    margin-top: 1px;
    border: none;
    background: none;
    max-width: 300px !important;
    line-height: 1 !important;
    width: 170px !important;
}

.menu-wrapper:focus {
    outline: none;
}

.menu-item:first-child {
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
}

.menu-item:last-child {
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}

.menu-item {
    background: linear-gradient(90deg, rgb(239, 184, 11) 0%, rgb(251, 218, 60) 100%) !important;
    border-bottom: 1.47px solid rgb(240, 185, 11) !important;
    border-top: none;
    border-left: 1.47px solid rgb(240, 185, 11) !important;
    border-right: 1.47px solid rgb(240, 185, 11) !important;
    display: block;
    padding: 5px;
    width: 100%;
    font-size: .6875rem;
    font-weight: bolder;
    color: white;
}

.menu-item:hover {
    background: rgb(132, 142, 156);
    color: white;
}


#users-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 5px;
}

.menu-wrapper-users {
    position: absolute;
    top: 34px;
    left: -45px;
    border: rgba(11, 14, 17, .9);
    background: rgba(11, 14, 17, .9);
    max-width: 400px !important;
    width: 350px !important;
    height: 533px !important;
    border-radius: 0px;
}

.menu-wrapper-users:focus {
    outline: none;
}

.menu-item-users {
    background: rgba(11, 14, 17, 0);
    border: none;
    display: block;
    padding: 5px;
    width: 100%;
    font-size: 18px;
    font-weight: bolder;
    color: white;
    text-align: left;
}

.menu-item-users:hover {
    font-size: 18px;
    color: rgb(239, 184, 11);
    font-weight: bolder;
}

.item-of:hover {
    background: rgba(11, 14, 17, .3);
    border-radius: 10px;
    border: solid 0.5px rgb(239, 184, 11);
}


.btn-basic {
    background: none;
    border: none;
    color: white;
    font-size: 13px;
}

.btn-basic:hover {
    background: rgb(239, 184, 11);
    border: none;
    color: rgb(11, 14, 17);
    font-size: 13px;
    border-radius: 10px;
}