.bd-da:hover {
    background: #e52d27; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #b31217, #e52d27); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #b31217, #e52d27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white
}

.bd-da {
    box-shadow: none !important;
}
.verify-send-container {
    border: solid 1px #ccc;
    border-radius: 6px;
}

.verify-send-row-title {
    font-size: 18px;
    font-weight: 500;
}

.verify-send-row-sum {
    font-size: 18px;
    margin-bottom: 2px;
}

.verify-send-row-sub-sum {
    font-size: 13px;
    margin-bottom: 0;
}
