<div class="container-fluid">
    <app-menu-top></app-menu-top>
</div>
<div class="row">
    <div class="col-12 text-center" style="margin-top: 10px; margin-left: 0px; margin-bottom: 1em !important">
        <button (click)="goBack()" class="btn btn-just-icon btn-back btn-round">
            <i class="fas fa-arrow-left"></i>
        </button>
    </div>
</div>
<div *ngIf="(tokens$ | async)" style="margin-top: 0.2em">
    <div style="display: grid; margin-left: 0em; border-bottom: 0.0625rem solid rgba(234, 236, 239, 0.5);"
         *ngFor="let token of (tokens$ | async)">
        <div style="display: grid; grid-template-columns: 1fr 4fr; grid-template-rows: 25px 25px 25px; width: 100%; height: 80px">
            <img style="grid-row: 2; grid-column: 1; margin-left: 1.2em;"
                 src="{{token.image || '../../../assets/icons/default.png'}}"
                 width="38"
                 height="38"
                 class="img-circle">
            <p style="font-weight: bold; grid-row: 1; grid-column: 2; margin-left: 0.8em; margin-top: 14px; font-size: 16px; color: rgb(33, 40, 51);">
                {{this.makeItShort(token.name) || 'pending'}}
            </p>
            <p align="left"
               style="font-weight: bolder;grid-row: 2; grid-column: 2;  margin-left: 0.8em; font-size: 16px; margin-top: 7px; color: rgb(132, 142, 156)"
            >{{token.balance.toFixed(8) || 'pending'}} {{token.mappedName }}
            </p>
            <p align="left"
               style="font-weight: bolder;grid-row: 3; grid-column: 2;  margin-left: 0.8em; font-size: 16px; margin-bottom: 8em; color: rgb(132, 142, 156)"
            >{{token.balance2usd ? ('$' + token.balance2usd.toFixed(2) + ' USD') : ''}}
            </p>
        </div>
    </div>
</div>
<div *ngIf="!(tokens$ | async)" style="margin-top: 8em">
    <div class="row">
        <div class="col-12 text-center">
            <loaders-css [loader]="loader" [scale]="2" [bgColor]="bgColor" [color]="color"></loaders-css>
        </div>
    </div>
</div>
