<div class="d-flex flex-column h-100" style="align-items: center; justify-content:center">

    <!-- TODO: use image from sessionRequest
     <img style="height:48px;width:48px" src="{{icon}}" alt="">
     -->
    <br>
    <b style="text-align: center">price: {{price}}</b>
    <b style="text-align: center">quantity: {{quantity}}</b>
    <b style="text-align: center">ordertype: {{ordertype}}</b>
    <b style="text-align: center">symbol: {{symbol}}</b>
    <b style="text-align: center">chain_id: {{chain_id}}</b>
    <!--
    <a class="text-center" href="{{url}}">{{url}}</a>
    -->

    <br>
    <div>
        <div class="col-12 text-center mt-1" id="buttonsDiv">

            <button (click)="approve(false)"
                    class="btn btn-outline-danger btn-lg mr-1 reject-btn">REJECT
            </button>

            <button (click)="approve(true)"
                    class="btn btn-binance-outline btn-lg ">APPROVE
            </button>

        </div>
    </div>
</div>
