<ng-container *ngIf="(stateService.selectedBlockchain$ | async) as blockchain">
    <sat-popover #menuNetwork horizontalAlign="center" verticalAlign="center" hasBackdrop>
        <div class="menu-wrapper" tabIndex="0">
            <button *ngFor="let item of (networkMenu$ | async)"
                    class="menu-item" style="cursor:pointer"
                    [ngClass]="{'cosmos': blockchain === 'cosmos'}"
                    (click)="selectNetwork(item.networkPrefix, blockchain === 'cosmos'); menuNetwork.toggle()">
                {{ item.label }}
            </button>
        </div>
    </sat-popover>

    <button [satPopoverAnchor]="menuNetwork" (click)="menuNetwork.toggle()"
            class="btn btn-link btn-outline btn-sm" id="networkBtn" [ngClass]="{'cosmos': blockchain === 'cosmos'}">
        <strong id="NetworkWord">Network:</strong> {{ (this.stateService.selectedNetwork$ | async)?.label?.toUpperCase()}}
        <i class="fas fa-caret-down"></i>
    </button>
</ng-container>

