<div class="container">
    <div class="row text-center">
        <div style="margin-top: 3em; margin-left: 1em;" align="left" class="col-12">
            <button routerLink="/greeter" class="btn btn-just-icon btn-default btn-round">
                <fa name="arrow-left" size="sm"></fa>
            </button>
        </div>
        <div class="col-12">
            <h3 style="font-family: 'Montserrat', sans-serif !important; font-weight: 600; color: black; margin-top: 2.5em"
                class="card-title">
                Enter your mnemonic</h3>
            <p style="font-weight: bold; color: #b2b2b2">
                Use existing mnemonic to start using wallet
            </p>
        </div>
        <div style="margin-top: 1em; background: #f6f6f6; border-radius: 20px !important"
             class="col-10 offset-1 text-center">
            <div class="form-group">
                <textarea rows="4" type="password" class="form-control" id="mnemonic"></textarea>
            </div>
        </div>
        <div style="margin-top: 1em;" class="col-12">
            <button (click)="onContinueClick();" class="btn btn-binance btn-lg">Continue</button>
        </div>
    </div>
</div>
