<form [formGroup]="heroForm" novalidate>
    <div class="form-row">
        <div class="form-group col-md-12">
            <ng-select [searchable]="true" [clearable]="false" labelForId="heroId" class="custom"
                       formControlName="heroId" class="someClass someClass1">

                <ng-option value="BNB">

                    <div style="display: flex;flex-direction: row; align-items: center">
                        <img style="height: 28px" src="../../assets/icons/icon128.png"/>
                        <div style="display: flex;flex-direction: column; padding: 5px 10px;">
                            <strong style="margin-bottom: -5px; margin-top: 3px;">Binance Coin</strong>
                            <div style="font-size: 12px">1 BNB / $144 USD</div>
                        </div>
                    </div>

                </ng-option>

                <ng-option value="BEC">
                    <div style="display: flex;flex-direction: row; align-items: center">
                        <img style="height: 28px" src="../../assets/icons/icon128.png"/>
                        <div style="display: flex;flex-direction: column; padding: 5px 10px;">
                            <strong style="margin-bottom: -5px;margin-top: 3px;">Binance Coin</strong>
                            <div style="font-size: 12px">1 BNB / $144 USD</div>
                        </div>
                    </div>
                </ng-option>

                <ng-option value="BTC">
                    <div style="display: flex;flex-direction: row; align-items: center">
                        <img style="height: 28px" src="../../assets/icons/icon128.png"/>
                        <div style="display: flex;flex-direction: column; padding: 5px 10px;">
                            <strong style="margin-bottom: -5px;margin-top: 3px;">Binance Coin</strong>
                            <div style="font-size: 12px">1 BNB / $144 USD</div>
                        </div>
                    </div>
                </ng-option>
            </ng-select>
        </div>
    </div>
</form>
