<div class="container-fluid">
    <app-menu-top></app-menu-top>
</div>

<div class="container-12">

    <div class="row">
        <div class="col-12 text-center" style="margin-top: 10px; margin-left: 0px; margin-bottom: 1em !important">
            <button (click)="goBack()" class="btn btn-just-icon btn-back btn-round">
                <i class="fas fa-arrow-left"></i>
            </button>
        </div>
    </div>


    <div class="text-center">
        <img width="70" height="70" src="../../../../assets/icons/barbeque.png">
        <h3 style="font-family: 'Montserrat', sans-serif !important;  font-size: 22px; font-weight: 600; color: rgb(33, 40, 51);margin-top: 1.5em;"
            class="card-title">{{ staked | async}} ATOM</h3>
        <h3 style="font-family: 'Montserrat', sans-serif !important;  font-size: 18px; font-weight: 600; color: rgb(170,181,197);margin-top: -1em;"
            class="card-title">{{ fiatStaked | async}} {{stateService.uiState.storageData.baseFiatCurrency}}</h3>
        <p style="font-weight: bold; font-size: 16px; margin-top: -0.5em; color: rgb(72, 81, 93);">TOTALY DELEGATED</p>
    </div>

    <div class="pr-4 pl-4">
        <hr class="unusualHr">
    </div>

    <div class="row text-center" style="padding: 0 75px;margin-top: -5px; margin-bottom: 10px;">
        <div class="col-12">
            <!-- [ngClass]="{'invalid': (amount.dirty || amount.touched) && amount.invalid}" -->
            <div class="amount-container">
                <app-amount-input [(ngModel)]="abc" [coin]="'ATOM'" [rate2usd]="rate2usd">
                </app-amount-input>
            </div>
        </div>
    </div>

    <div class="col-12 text-center d-flex">
        <button (click)="cosmos.stakeFast(1000, stateService.uiState.currentAccount.address, stateService.uiState.currentAccount.privateKey)"
                class="btn-lg btn-cosmos main-btn">STAKE</button>

        <button (click)="calculateStakedAmount(stateService.uiState.currentAccount.address)"
                class="btn-lg btn-outline-cosmos main-btn">UNSTAKE
        </button>
    </div>

</div>
