<div class="container-fluid">
    <app-menu-top></app-menu-top>
</div>

<div class="container-12">
    <div class="row">
        <div class="col-12 text-center" style="margin-top: 10px; margin-left: 0px; margin-bottom: 1em !important">
            <button (click)="goBack()" class="btn btn-just-icon btn-back btn-round">
                <i class="fas fa-arrow-left"></i>
            </button>
        </div>
    </div>

    <div class="text-center">
        <img width="70" height="70" src="../../../../assets/icons/barbeque.png">
        <h3 style="font-family: 'Montserrat', sans-serif !important;  font-size: 22px; font-weight: 600; color: rgb(33, 40, 51);margin-top: 1.5em;"
            class="card-title">{{ staked | async}} ATOM</h3>
        <h3 style="font-family: 'Montserrat', sans-serif !important;  font-size: 18px; font-weight: 600; color: rgb(170,181,197);margin-top: -1em;"
            class="card-title">{{ fiatStaked | async}} {{stateService.uiState.storageData.baseFiatCurrency}}</h3>
        <p style="font-weight: bold; font-size: 16px; margin-top: -0.5em; color: rgb(72, 81, 93);">TOTALY DELEGATED</p>
    </div>
    <div class="pr-4 pl-4 pt-4">
        <hr class="unusualHr">
    </div>


<!--    <div class="col-12">-->
<!--        <div class="amount-container"-->
<!--             [ngClass]="{'invalid': (amount.dirty || amount.touched) && amount.invalid}">-->
<!--            <app-amount-input formControlName="amount"-->
<!--                              [coin]="selectedToken"-->
<!--                              [rate2usd]="rate2usd">-->
<!--            </app-amount-input>-->
<!--        </div>-->
<!--    </div>-->

    <div class="col-12 text-center">
        <button (click)="cosmos.stakeFast(1000, stateService.uiState.currentAccount.address, stateService.uiState.currentAccount.privateKey)" class="btn-lg btn-cosmos main-btn">STAKE</button>
        <br>
        <br>
        <button (click)="calculateStakedAmount('d')" class="btn-lg btn-outline-cosmos main-btn">UNSTAKE</button>
    </div>
    
</div>
