<div class="container">
  <div class="row text-center">
    <div class="col-12">
      <h3 style="font-family: 'Montserrat', sans-serif !important; font-weight: 600; color: black; margin-top: 4em"
          class="card-title">
        Create a password</h3>
    </div>
    <div style="margin-top: 2em;" class="col-12">
      <div class="form-group">
        <input type="password" class="form-control" id="Password" placeholder="Password">
      </div>
    </div>
    <div style="margin-top: 2em;" class="col-12">
      <button  [routerLink]="'/main'" class="btn btn-binance btn-lg">Continue</button>
    </div>
  </div>
</div>
