<div class="container">
    <div style="margin-top: 10px;" class="row">
        <div class="col-2 text-center">
            <button (click)="goBack()" class="btn btn-just-icon btn-back btn-round">
                <fa name="arrow-left" size="sm"></fa>
            </button>
        </div>
        <div class="col-10">
            <h3 style="margin-top: 0.3em; margin-left: 2em; font-weight: bolder;color: rgb(33, 40, 51)">Settings</h3>
        </div>
    </div>
</div>
<div style="margin-top: 0.5em;" class="container">
    <div class="row">
        <div class="col-10 offset-1">
            <div style="display: grid; grid-template-columns: 1fr; grid-template-rows: 3fr 1fr; width: 100%;height: 25px !important; border-bottom: 0.5px solid rgb(132, 142, 156); padding-bottom: 4.4em;border-top: 0.5px solid rgb(132, 142, 156);; grid-row-gap: 0px; margin-left:0em">
                <div style="grid-row: 1; margin-left: 1em; ">
                    <h4 style="font-weight: bolder">
                        <fa id="copyButton" name="home" size="sm"></fa>
                        General
                    </h4>
                </div>
                <div style="grid-row: 2; margin-left: 1em; margin-top: -0.5em; color: rgb(72, 81, 93);">
                    Currencies and language
                </div>
            </div>
            <div style="display: grid; grid-template-columns: 1fr; grid-template-rows: 3fr 1fr; width: 100%;height: 25px !important; border-bottom: 0.5px solid rgb(132, 142, 156); padding-bottom: 4.4em;grid-row-gap: 0px; margin-left:0em">
                <div style="grid-row: 1; margin-left: 1em; ">
                    <h4 style="font-weight: bolder">
                        <fa name="adn" size="sm"></fa>
                        Advanced
                    </h4>
                </div>
                <div style="grid-row: 2; margin-left: 1em; margin-top: -0.5em; color: rgb(72, 81, 93);">
                    Developer information, Logs
                </div>
            </div>
            <div style="display: grid; grid-template-columns: 1fr; grid-template-rows: 3fr 1fr; width: 100%;height: 25px !important; border-bottom: 0.5px solid rgb(132, 142, 156); padding-bottom: 4.4em;grid-row-gap: 0px; margin-left:0em">
                <div style="grid-row: 1; margin-left: 1em; ">
                    <h4 style="font-weight: bolder">
                        <fa name="shield" size="sm"></fa>
                        Security and Privacy
                    </h4>
                </div>
                <div style="grid-row: 2; margin-left: 1em; margin-top: -0.5em; color: rgb(72, 81, 93);">
                    Seed phrase, Accounts, Statistics
                </div>
            </div>
            <div style="display: grid; grid-template-columns: 1fr; grid-template-rows: 3fr 1fr; width: 100%;height: 25px !important; border-bottom: 0.5px solid rgb(132, 142, 156); padding-bottom: 4.4em;grid-row-gap: 0px; margin-left:0em">
                <div style="grid-row: 1; margin-left: 1em; ">
                    <h4 style="font-weight: bolder">
                        <fa name="globe" size="sm"></fa>
                        Networks
                    </h4>
                </div>
                <div style="grid-row: 2; margin-left: 1em; margin-top: -0.5em; color: rgb(72, 81, 93);">
                    Custom networks
                </div>
            </div>
            <div style="display: grid; grid-template-columns: 1fr; grid-template-rows: 3fr 1fr; width: 100%;height: 25px !important; border-bottom: 0.5px solid rgb(132, 142, 156); padding-bottom: 4.4em;grid-row-gap: 0px; margin-left:0em">
                <div style="grid-row: 1; margin-left: 1em; ">
                    <h4 style="font-weight: bolder">
                        <fa name="info" size="sm"></fa>
                        About
                    </h4>
                </div>
                <div style="grid-row: 2; margin-left: 1em; margin-top: -0.5em; color: rgb(72, 81, 93);">
                    Information about app
                </div>
            </div>
            <div style="display: grid; grid-template-columns: 1fr; grid-template-rows: 3fr 1fr; width: 100%;height: 25px !important; border-bottom: 0.5px solid rgb(132, 142, 156); padding-bottom: 4.4em;grid-row-gap: 0px; margin-left:0em">
                <div style="grid-row: 1; margin-left: 1em; ">
                    <h4 style="font-weight: bolder">
                        <fa name="user" size="sm"></fa>
                        Feedback
                    </h4>
                </div>
                <div style="grid-row: 2; margin-left: 1em; margin-top: -0.5em; color: rgb(72, 81, 93);">
                    Give us feedback about app
                </div>
            </div>
        </div>
    </div>
</div>
