<div class="container header">
    <div style="margin-top: 0px;padding-bottom: 0em; height: 67px" class="row">
        <div class="col-12 text-center">
            <button style="color: rgb(255,255,255); margin-top: 0.5em;" (click)="goBack()"
                    class="btn btn-just-icon btn-back btn-round">
                <i class="fas fa-arrow-left"></i>
            </button>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h4 style="font-weight: bolder; color: rgb(33, 40, 51);">
               We will not collect data by default
            </h4>
            <h4>
                Advanced options will be soon
            </h4>
        </div>
    </div>
</div>
